@font-face {
    font-family: "m4";
    src: url("./m4.eot");
    src: url("./m4.eot?#iefix") format("embedded-opentype"),
	url("./m4.woff") format("woff"),
	url("./m4.ttf") format("truetype"),
	url("./m4.svg#m4") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
  font-family: "m4" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="m4-"]:before,
[class*=" m4-"]:before {
  font-family: "m4" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.m4-erp-accounting:before {
  content: "\61";
}
.m4-erp-accountingmore:before {
  content: "\63";
}
.m4-erp-accountingreclassification:before {
  content: "\65";
}
.m4-erp-assetsmore:before {
  content: "\68";
}
.m4-erp-assiglabour:before {
  content: "\6a";
}
.m4-erp-attachment:before {
  content: "\6b";
}
.m4-erp-bankinternet:before {
  content: "\6d";
}
.m4-erp-barcode:before {
  content: "\6e";
}
.m4-erp-billofladingerror:before {
  content: "\70";
}
.m4-erp-billoflanding:before {
  content: "\71";
}
.m4-erp-billofmaterials:before {
  content: "\72";
}
.m4-erp-binblocked:before {
  content: "\73";
}
.m4-erp-binunblocked:before {
  content: "\74";
}
.m4-erp-bucket:before {
  content: "\75";
}
.m4-erp-calculator:before {
  content: "\76";
}
.m4-erp-calendarflash:before {
  content: "\77";
}
.m4-erp-calendarflash-c:before {
  content: "\78";
}
.m4-erp-cash:before {
  content: "\79";
}
.m4-erp-cash-c:before {
  content: "\7a";
}
.m4-erp-cashin:before {
  content: "\41";
}
.m4-erp-cashout:before {
  content: "\42";
}
.m4-erp-changelevel:before {
  content: "\43";
}
.m4-erp-changelevelauto:before {
  content: "\44";
}
.m4-erp-checkprices:before {
  content: "\45";
}
.m4-erp-checkprices-c:before {
  content: "\46";
}
.m4-erp-closingoptions:before {
  content: "\47";
}
.m4-erp-collectionvoucher:before {
  content: "\48";
}
.m4-erp-collectionvoucher-c:before {
  content: "\49";
}
.m4-erp-collectionvoucherdelay:before {
  content: "\4a";
}
.m4-erp-collectionvoucherdelay-c:before {
  content: "\4b";
}
.m4-erp-collectionvouchererror:before {
  content: "\4c";
}
.m4-erp-collectionvouchererror-c:before {
  content: "\4d";
}
.m4-erp-componentlist:before {
  content: "\4e";
}
.m4-erp-components:before {
  content: "\4f";
}
.m4-erp-components-c:before {
  content: "\50";
}
.m4-erp-configurator:before {
  content: "\51";
}
.m4-erp-costaccounting:before {
  content: "\52";
}
.m4-erp-costs:before {
  content: "\53";
}
.m4-erp-costs-c:before {
  content: "\54";
}
.m4-erp-crossreferences:before {
  content: "\55";
}
.m4-erp-custsupp:before {
  content: "\56";
}
.m4-erp-declaration:before {
  content: "\57";
}
.m4-erp-declaration-c:before {
  content: "\58";
}
.m4-erp-deliverynote:before {
  content: "\59";
}
.m4-erp-deliverynote-c:before {
  content: "\5a";
}
.m4-erp-deliverynoteerror:before {
  content: "\30";
}
.m4-erp-deliverynoteerror-c:before {
  content: "\31";
}
.m4-erp-depreciation:before {
  content: "\32";
}
.m4-erp-descrlanguage:before {
  content: "\33";
}
.m4-erp-disable:before {
  content: "\34";
}
.m4-erp-disable-c:before {
  content: "\35";
}
.m4-erp-doclocked:before {
  content: "\36";
}
.m4-erp-document:before {
  content: "\37";
}
.m4-erp-document-c:before {
  content: "\38";
}
.m4-erp-documentdelete:before {
  content: "\39";
}
.m4-erp-documenterror:before {
  content: "\21";
}
.m4-erp-documentmoney:before {
  content: "\22";
}
.m4-erp-documentmoney-c:before {
  content: "\23";
}
.m4-erp-documentok:before {
  content: "\24";
}
.m4-erp-documenttextadd:before {
  content: "\25";
}
.m4-erp-documenttextadd-c:before {
  content: "\26";
}
.m4-erp-documenttextnote:before {
  content: "\27";
}
.m4-erp-documenttextnote-c:before {
  content: "\28";
}
.m4-erp-documentwarning:before {
  content: "\29";
}
.m4-erp-docunlocked:before {
  content: "\2a";
}
.m4-erp-eco:before {
  content: "\2b";
}
.m4-erp-ecoconfirmed:before {
  content: "\2c";
}
.m4-erp-ecoprocessing:before {
  content: "\2d";
}
.m4-erp-editlot:before {
  content: "\2e";
}
.m4-erp-executefind:before {
  content: "\3a";
}
.m4-erp-exportline:before {
  content: "\3b";
}
.m4-erp-factoring:before {
  content: "\3d";
}
.m4-erp-factoring-c:before {
  content: "\3e";
}
.m4-erp-factorycoins:before {
  content: "\3f";
}
.m4-erp-factorycoins-w:before {
  content: "\40";
}
.m4-erp-factorycustomer:before {
  content: "\5b";
}
.m4-erp-factorycustomer-c:before {
  content: "\5d";
}
.m4-erp-familytools:before {
  content: "\5e";
}
.m4-erp-familytoolsw:before {
  content: "\5f";
}
.m4-erp-folder:before {
  content: "\60";
}
.m4-erp-forcedpicked:before {
  content: "\7b";
}
.m4-erp-grpartiallyconfirmed:before {
  content: "\7c";
}
.m4-erp-importexportxml:before {
  content: "\7d";
}
.m4-erp-importline:before {
  content: "\7e";
}
.m4-erp-inhouse:before {
  content: "\5c";
}
.m4-erp-inhouseconfirmed:before {
  content: "\e000";
}
.m4-erp-inhouseerror:before {
  content: "\e001";
}
.m4-erp-inhouselocked:before {
  content: "\e002";
}
.m4-erp-inhouseok:before {
  content: "\e003";
}
.m4-erp-inhouseprocessing:before {
  content: "\e004";
}
.m4-erp-inhousereleased:before {
  content: "\e005";
}
.m4-erp-inhousesuspended:before {
  content: "\e006";
}
.m4-erp-inhousetocheck:before {
  content: "\e007";
}
.m4-erp-inhousewarning:before {
  content: "\e008";
}
.m4-erp-inputmrp:before {
  content: "\e009";
}
.m4-erp-internet:before {
  content: "\e00a";
}
.m4-erp-inventory:before {
  content: "\e00b";
}
.m4-erp-inventory-c:before {
  content: "\e00c";
}
.m4-erp-inventorymoney:before {
  content: "\e00d";
}
.m4-erp-inventorymoney-c:before {
  content: "\e00e";
}
.m4-erp-inventorymore:before {
  content: "\e00f";
}
.m4-erp-inventorymore-c:before {
  content: "\e010";
}
.m4-erp-invoice:before {
  content: "\e011";
}
.m4-erp-invoice-c:before {
  content: "\e012";
}
.m4-erp-invoiceinternet:before {
  content: "\e013";
}
.m4-erp-invoiceinternet-c:before {
  content: "\e014";
}
.m4-erp-item:before {
  content: "\e015";
}
.m4-erp-itemcritical:before {
  content: "\e016";
}
.m4-erp-labourassignment:before {
  content: "\e017";
}
.m4-erp-labourtype:before {
  content: "\e018";
}
.m4-erp-layers:before {
  content: "\e019";
}
.m4-erp-links:before {
  content: "\e01a";
}
.m4-erp-loaddocument:before {
  content: "\e01b";
}
.m4-erp-lot:before {
  content: "\e01c";
}
.m4-erp-lotcritical:before {
  content: "\e01d";
}
.m4-erp-maintenance:before {
  content: "\e01e";
}
.m4-erp-manufacturing:before {
  content: "\e01f";
}
.m4-erp-manufacturing-c:before {
  content: "\e020";
}
.m4-erp-manufacturingmore:before {
  content: "\e021";
}
.m4-erp-manufacturingmore-c:before {
  content: "\e022";
}
.m4-erp-map:before {
  content: "\e023";
}
.m4-erp-markerbox:before {
  content: "\e024";
}
.m4-erp-markermarker:before {
  content: "\e025";
}
.m4-erp-markerreport:before {
  content: "\e026";
}
.m4-erp-masternote:before {
  content: "\e027";
}
.m4-erp-mobile:before {
  content: "\e028";
}
.m4-erp-mobileforced:before {
  content: "\e029";
}
.m4-erp-moconfirmed:before {
  content: "\e02a";
}
.m4-erp-money:before {
  content: "\e02b";
}
.m4-erp-money-c:before {
  content: "\e02c";
}
.m4-erp-moneyadd:before {
  content: "\e02d";
}
.m4-erp-moneyadd-c:before {
  content: "\e02e";
}
.m4-erp-moneyfind:before {
  content: "\e02f";
}
.m4-erp-moneylock:before {
  content: "\e030";
}
.m4-erp-monotconfirmed:before {
  content: "\e031";
}
.m4-erp-monotprogressable:before {
  content: "\e032";
}
.m4-erp-mopartiallyconfirmed:before {
  content: "\e033";
}
.m4-erp-mopartiallyprogressablegreen:before {
  content: "\e034";
}
.m4-erp-mopartiallyprogressableyellow:before {
  content: "\e035";
}
.m4-erp-moprogressablegreen:before {
  content: "\e036";
}
.m4-erp-moprogressableyellow:before {
  content: "\e037";
}
.m4-erp-mosuspended:before {
  content: "\e038";
}
.m4-erp-netting:before {
  content: "\e039";
}
.m4-erp-notafiscal:before {
  content: "\e03a";
}
.m4-erp-notafiscal-c:before {
  content: "\e03b";
}
.m4-erp-notes:before {
  content: "\e03c";
}
.m4-erp-notpickable:before {
  content: "\e03d";
}
.m4-erp-notpicked:before {
  content: "\e03e";
}
.m4-erp-notpicked-c:before {
  content: "\e03f";
}
.m4-erp-order:before {
  content: "\e040";
}
.m4-erp-orderdelete:before {
  content: "\e041";
}
.m4-erp-ordererror:before {
  content: "\e042";
}
.m4-erp-outsourced:before {
  content: "\e043";
}
.m4-erp-outsourcedconfirmed:before {
  content: "\e044";
}
.m4-erp-outsourcedprocessing:before {
  content: "\e045";
}
.m4-erp-outsourcedreleased:before {
  content: "\e046";
}
.m4-erp-outsourcedtocheck:before {
  content: "\e047";
}
.m4-erp-packageitemshow:before {
  content: "\e048";
}
.m4-erp-packageuser:before {
  content: "\e049";
}
.m4-erp-packageuser-c:before {
  content: "\e04a";
}
.m4-erp-partiallypicked:before {
  content: "\e04b";
}
.m4-erp-payees:before {
  content: "\e04c";
}
.m4-erp-payees-c:before {
  content: "\e04d";
}
.m4-erp-payment:before {
  content: "\e04e";
}
.m4-erp-paymentdelay:before {
  content: "\e04f";
}
.m4-erp-paymenterror:before {
  content: "\e050";
}
.m4-erp-picked:before {
  content: "\e051";
}
.m4-erp-pickingworker:before {
  content: "\e052";
}
.m4-erp-planning:before {
  content: "\e053";
}
.m4-erp-preferences:before {
  content: "\e054";
}
.m4-erp-preferences-c:before {
  content: "\e055";
}
.m4-erp-preferencesmore:before {
  content: "\e056";
}
.m4-erp-processdelay:before {
  content: "\e057";
}
.m4-erp-processerror:before {
  content: "\e058";
}
.m4-erp-processing:before {
  content: "\e059";
}
.m4-erp-processok:before {
  content: "\e05a";
}
.m4-erp-product:before {
  content: "\e05b";
}
.m4-erp-productin:before {
  content: "\e05c";
}
.m4-erp-productin-c:before {
  content: "\e05d";
}
.m4-erp-productionplan:before {
  content: "\e05e";
}
.m4-erp-productionrun:before {
  content: "\e05f";
}
.m4-erp-productout:before {
  content: "\e060";
}
.m4-erp-purchase:before {
  content: "\e061";
}
.m4-erp-purchase-c:before {
  content: "\e062";
}
.m4-erp-purchasemore:before {
  content: "\e063";
}
.m4-erp-purchasemore-c:before {
  content: "\e064";
}
.m4-erp-purchaseorder:before {
  content: "\e065";
}
.m4-erp-purchaseorderrequest:before {
  content: "\e066";
}
.m4-erp-purchaseorderrequestmore:before {
  content: "\e067";
}
.m4-erp-puzzle:before {
  content: "\e068";
}
.m4-erp-quality:before {
  content: "\e069";
}
.m4-erp-quality-c:before {
  content: "\e06a";
}
.m4-erp-qualitymore:before {
  content: "\e06b";
}
.m4-erp-qualitymore-c:before {
  content: "\e06c";
}
.m4-erp-quantities:before {
  content: "\e06d";
}
.m4-erp-quantities-c:before {
  content: "\e06e";
}
.m4-erp-references:before {
  content: "\e06f";
}
.m4-erp-references-c:before {
  content: "\e070";
}
.m4-erp-retail:before {
  content: "\e071";
}
.m4-erp-routing:before {
  content: "\e072";
}
.m4-erp-routing-c:before {
  content: "\e073";
}
.m4-erp-saleandpurchase:before {
  content: "\e074";
}
.m4-erp-saleandpurchase-1:before {
  content: "\e075";
}
.m4-erp-saleandpurchasefilled:before {
  content: "\e076";
}
.m4-erp-saleorder:before {
  content: "\e077";
}
.m4-erp-sales:before {
  content: "\e078";
}
.m4-erp-salesmore:before {
  content: "\e079";
}
.m4-erp-salesmore-c:before {
  content: "\e07a";
}
.m4-erp-salespeople:before {
  content: "\e07b";
}
.m4-erp-salespeople-c:before {
  content: "\e07c";
}
.m4-erp-savetemplate:before {
  content: "\e07d";
}
.m4-erp-scanbarcode:before {
  content: "\e07e";
}
.m4-erp-scrap:before {
  content: "\e07f";
}
.m4-erp-secondrate:before {
  content: "\e080";
}
.m4-erp-selections:before {
  content: "\e081";
}
.m4-erp-services:before {
  content: "\e082";
}
.m4-erp-services-c:before {
  content: "\e083";
}
.m4-erp-servicesmore:before {
  content: "\e084";
}
.m4-erp-shift1:before {
  content: "\e085";
}
.m4-erp-shift1-c:before {
  content: "\e086";
}
.m4-erp-shift2:before {
  content: "\e087";
}
.m4-erp-shift2-c:before {
  content: "\e088";
}
.m4-erp-shift3:before {
  content: "\e089";
}
.m4-erp-shift3-c:before {
  content: "\e08a";
}
.m4-erp-shift4:before {
  content: "\e08b";
}
.m4-erp-shift4-c:before {
  content: "\e08c";
}
.m4-erp-shift5:before {
  content: "\e08d";
}
.m4-erp-shift5-c:before {
  content: "\e08e";
}
.m4-erp-shift6:before {
  content: "\e08f";
}
.m4-erp-shift6-c:before {
  content: "\e090";
}
.m4-erp-shift7:before {
  content: "\e091";
}
.m4-erp-shift7-c:before {
  content: "\e092";
}
.m4-erp-shift8:before {
  content: "\e093";
}
.m4-erp-shift8-c:before {
  content: "\e094";
}
.m4-erp-shift9:before {
  content: "\e095";
}
.m4-erp-shift9-c:before {
  content: "\e096";
}
.m4-erp-shoppaperlist:before {
  content: "\e097";
}
.m4-erp-sign:before {
  content: "\e098";
}
.m4-erp-smartcode:before {
  content: "\e099";
}
.m4-erp-smartcode-c:before {
  content: "\e09a";
}
.m4-erp-sortingarrows:before {
  content: "\e09b";
}
.m4-erp-splitline:before {
  content: "\e09c";
}
.m4-erp-study:before {
  content: "\e09d";
}
.m4-erp-summary:before {
  content: "\e09e";
}
.m4-erp-toolavailable:before {
  content: "\e09f";
}
.m4-erp-toolitem:before {
  content: "\e0a0";
}
.m4-erp-tools:before {
  content: "\e0a1";
}
.m4-erp-tools-c:before {
  content: "\e0a2";
}
.m4-erp-toolsmore:before {
  content: "\e0a3";
}
.m4-erp-tooltobeinspected:before {
  content: "\e0a4";
}
.m4-erp-totallypickable:before {
  content: "\e0a5";
}
.m4-erp-transportationform:before {
  content: "\e0a6";
}
.m4-erp-transportationform-c:before {
  content: "\e0a7";
}
.m4-erp-unitofmeasure:before {
  content: "\e0a8";
}
.m4-erp-unitofmeasure-c:before {
  content: "\e0a9";
}
.m4-erp-variants:before {
  content: "\e0aa";
}
.m4-erp-variants-c:before {
  content: "\e0ab";
}
.m4-erp-wms:before {
  content: "\e0ac";
}
.m4-erp-wms-c:before {
  content: "\e0ad";
}
.m4-erp-wmsmore:before {
  content: "\e0ae";
}
.m4-erp-wmsmore-c:before {
  content: "\e0af";
}
.m4-erp-zoomin:before {
  content: "\e0b0";
}
.m4-erp-zoomout:before {
  content: "\e0b1";
}
.m4-rowsecurity:before {
  content: "\e0b2";
}
.m4-tb-0percentsfilled:before {
  content: "\e0b3";
}
.m4-tb-3dobject:before {
  content: "\e0b4";
}
.m4-tb-3dobjectfilled:before {
  content: "\e0b5";
}
.m4-tb-3dtouchfilled:before {
  content: "\e0b6";
}
.m4-tb-abc:before {
  content: "\e0b7";
}
.m4-tb-abc2:before {
  content: "\e0b8";
}
.m4-tb-abc3:before {
  content: "\e0b9";
}
.m4-tb-add:before {
  content: "\e0ba";
}
.m4-tb-add-1:before {
  content: "\e0bb";
}
.m4-tb-add2:before {
  content: "\e0bc";
}
.m4-tb-addfilled:before {
  content: "\e0bd";
}
.m4-tb-addgraphreport:before {
  content: "\e0be";
}
.m4-tb-addgraphreportfilled:before {
  content: "\e0bf";
}
.m4-tb-addnode:before {
  content: "\e0c0";
}
.m4-tb-addnodefilled:before {
  content: "\e0c1";
}
.m4-tb-addpiechartreport:before {
  content: "\e0c2";
}
.m4-tb-addpiechartreportfilled:before {
  content: "\e0c3";
}
.m4-tb-address:before {
  content: "\e0c4";
}
.m4-tb-addressbook:before {
  content: "\e0c5";
}
.m4-tb-addressfilled:before {
  content: "\e0c6";
}
.m4-tb-addshoppingcart:before {
  content: "\e0c7";
}
.m4-tb-addshoppingcartfilled:before {
  content: "\e0c8";
}
.m4-tb-addsunode:before {
  content: "\e0c9";
}
.m4-tb-addsunodefilled:before {
  content: "\e0ca";
}
.m4-tb-addtext:before {
  content: "\e0cb";
}
.m4-tb-addtextfilled:before {
  content: "\e0cc";
}
.m4-tb-addtotaltotable:before {
  content: "\e0cd";
}
.m4-tb-alarm:before {
  content: "\e0ce";
}
.m4-tb-alarmfilled:before {
  content: "\e0cf";
}
.m4-tb-alignbottomfilled:before {
  content: "\e0d0";
}
.m4-tb-alignleftfilled:before {
  content: "\e0d1";
}
.m4-tb-alignrightfilled:before {
  content: "\e0d2";
}
.m4-tb-aligntextbottom:before {
  content: "\e0d3";
}
.m4-tb-aligntextcenter:before {
  content: "\e0d4";
}
.m4-tb-aligntextleft:before {
  content: "\e0d5";
}
.m4-tb-aligntextright:before {
  content: "\e0d6";
}
.m4-tb-aligntexttop:before {
  content: "\e0d7";
}
.m4-tb-aligntopfilled:before {
  content: "\e0d8";
}
.m4-tb-allusers:before {
  content: "\e0d9";
}
.m4-tb-alphabeticalsortingfilled:before {
  content: "\e0da";
}
.m4-tb-applyin:before {
  content: "\e0db";
}
.m4-tb-apptemplateexcel:before {
  content: "\e0dc";
}
.m4-tb-apptemplateword:before {
  content: "\e0dd";
}
.m4-tb-arrowdown:before {
  content: "\e0de";
}
.m4-tb-arrowleft:before {
  content: "\e0df";
}
.m4-tb-arrownextfilled:before {
  content: "\e0e0";
}
.m4-tb-arrowprevfilled:before {
  content: "\e0e1";
}
.m4-tb-arrowright:before {
  content: "\e0e2";
}
.m4-tb-arrowup:before {
  content: "\e0e3";
}
.m4-tb-arrowupfilled:before {
  content: "\e0e4";
}
.m4-tb-attach:before {
  content: "\e0e5";
}
.m4-tb-back:before {
  content: "\e0e6";
}
.m4-tb-backfilled:before {
  content: "\e0e7";
}
.m4-tb-barchart:before {
  content: "\e0e8";
}
.m4-tb-batch:before {
  content: "\e0e9";
}
.m4-tb-below:before {
  content: "\e0ea";
}
.m4-tb-belowfilled:before {
  content: "\e0eb";
}
.m4-tb-betreecollapse:before {
  content: "\e0ec";
}
.m4-tb-betreecollapseall:before {
  content: "\e0ed";
}
.m4-tb-bookmarkcancelfilled:before {
  content: "\e0ee";
}
.m4-tb-bookmarkfilled:before {
  content: "\e0ef";
}
.m4-tb-bookmarknextfilled:before {
  content: "\e0f0";
}
.m4-tb-bookmarkprevfilled:before {
  content: "\e0f1";
}
.m4-tb-bottom:before {
  content: "\e0f2";
}
.m4-tb-bottomdocking:before {
  content: "\e0f3";
}
.m4-tb-bottomdockingfilled:before {
  content: "\e0f4";
}
.m4-tb-bq-defa-mn:before {
  content: "\e0f5";
}
.m4-tb-bq-edit-mn:before {
  content: "\e0f6";
}
.m4-tb-bq-file:before {
  content: "\e0f7";
}
.m4-tb-bq-find:before {
  content: "\e0f8";
}
.m4-tb-bq-find-mn:before {
  content: "\e0f9";
}
.m4-tb-bq-pred:before {
  content: "\e0fa";
}
.m4-tb-bq-pred-mn:before {
  content: "\e0fb";
}
.m4-tb-bq-temp:before {
  content: "\e0fc";
}
.m4-tb-bringforward:before {
  content: "\e0fd";
}
.m4-tb-bringforwardfilled:before {
  content: "\e0fe";
}
.m4-tb-bringtoofront:before {
  content: "\e0ff";
}
.m4-tb-bringtoofrontfilled:before {
  content: "\e100";
}
.m4-tb-bullettedlist:before {
  content: "\e101";
}
.m4-tb-bullettedlistfilled:before {
  content: "\e102";
}
.m4-tb-buy:before {
  content: "\e103";
}
.m4-tb-buyfilled:before {
  content: "\e104";
}
.m4-tb-buying:before {
  content: "\e105";
}
.m4-tb-buyingfilled:before {
  content: "\e106";
}
.m4-tb-calendar:before {
  content: "\e107";
}
.m4-tb-calendar-c:before {
  content: "\e108";
}
.m4-tb-calendardelete:before {
  content: "\e109";
}
.m4-tb-calendardeletefilled:before {
  content: "\e10a";
}
.m4-tb-calendarfilled:before {
  content: "\e10b";
}
.m4-tb-calendarflash:before {
  content: "\e10c";
}
.m4-tb-calendarminus:before {
  content: "\e10d";
}
.m4-tb-calendarminusfilled:before {
  content: "\e10e";
}
.m4-tb-calendarplus:before {
  content: "\e10f";
}
.m4-tb-calendarplusfilled:before {
  content: "\e110";
}
.m4-tb-cancel:before {
  content: "\e111";
}
.m4-tb-changepsw:before {
  content: "\e112";
}
.m4-tb-changepsw32:before {
  content: "\e113";
}
.m4-tb-changeuser:before {
  content: "\e114";
}
.m4-tb-changeuser32:before {
  content: "\e115";
}
.m4-tb-changeuserfilled:before {
  content: "\e116";
}
.m4-tb-checkedradiobutton:before {
  content: "\e117";
}
.m4-tb-checkedradiobuttonfilled:before {
  content: "\e118";
}
.m4-tb-checkfilled:before {
  content: "\e119";
}
.m4-tb-chevrondown:before {
  content: "\e11a";
}
.m4-tb-chevrondownfilled:before {
  content: "\e11b";
}
.m4-tb-chevronhashtag:before {
  content: "\e11c";
}
.m4-tb-chevronhashtagfilled:before {
  content: "\e11d";
}
.m4-tb-chevronleftfilled:before {
  content: "\e11e";
}
.m4-tb-chevronleftfilled-1:before {
  content: "\e11f";
}
.m4-tb-chevronrightfilled:before {
  content: "\e120";
}
.m4-tb-chevronrightfilled-1:before {
  content: "\e121";
}
.m4-tb-chevronup:before {
  content: "\e122";
}
.m4-tb-chevronupfilled:before {
  content: "\e123";
}
.m4-tb-childresource:before {
  content: "\e124";
}
.m4-tb-circleddownleft:before {
  content: "\e125";
}
.m4-tb-circleddownleft2:before {
  content: "\e126";
}
.m4-tb-circleddownleft2filled:before {
  content: "\e127";
}
.m4-tb-circleddownleftfilled:before {
  content: "\e128";
}
.m4-tb-circleddownright:before {
  content: "\e129";
}
.m4-tb-circleddownright2:before {
  content: "\e12a";
}
.m4-tb-circleddownright2filled:before {
  content: "\e12b";
}
.m4-tb-circleddownrightfilled:before {
  content: "\e12c";
}
.m4-tb-circledrightfilled:before {
  content: "\e12e";
}
.m4-tb-circledthin:before {
  content: "\e12f";
}
.m4-tb-circledthinfilled:before {
  content: "\e130";
}
.m4-tb-circledupleft:before {
  content: "\e131";
}
.m4-tb-circledupleft2:before {
  content: "\e132";
}
.m4-tb-circledupleft2filled:before {
  content: "\e133";
}
.m4-tb-circledupleftfilled:before {
  content: "\e134";
}
.m4-tb-circledupright:before {
  content: "\e135";
}
.m4-tb-circledupright2:before {
  content: "\e136";
}
.m4-tb-circledupright2filled:before {
  content: "\e137";
}
.m4-tb-circleduprightfilled:before {
  content: "\e138";
}
.m4-tb-classicpin:before {
  content: "\e139";
}
.m4-tb-cleandocument:before {
  content: "\e13a";
}
.m4-tb-clearfilters:before {
  content: "\e13b";
}
.m4-tb-clearfiltersfilled:before {
  content: "\e13c";
}
.m4-tb-clearshoppingcart:before {
  content: "\e13d";
}
.m4-tb-clearshoppingcartfilled:before {
  content: "\e13e";
}
.m4-tb-clock:before {
  content: "\e13f";
}
.m4-tb-clockfilled:before {
  content: "\e140";
}
.m4-tb-closepane:before {
  content: "\e141";
}
.m4-tb-closepanefilled:before {
  content: "\e142";
}
.m4-tb-closewindows:before {
  content: "\e143";
}
.m4-tb-closewindows-2:before {
  content: "\e144";
}
.m4-tb-collapsearrow:before {
  content: "\e145";
}
.m4-tb-collapsearrowfilled:before {
  content: "\e146";
}
.m4-tb-collapsed:before {
  content: "\e147";
}
.m4-tb-colours:before {
  content: "\e148";
}
.m4-tb-colresize:before {
  content: "\e149";
}
.m4-tb-columnsfilled:before {
  content: "\e14b";
}
.m4-tb-columntotal:before {
  content: "\e14c";
}
.m4-tb-combochart:before {
  content: "\e14d";
}
.m4-tb-combochartfilled:before {
  content: "\e14e";
}
.m4-tb-company:before {
  content: "\e14f";
}
.m4-tb-compress:before {
  content: "\e150";
}
.m4-tb-compressfilled:before {
  content: "\e151";
}
.m4-tb-copy:before {
  content: "\e152";
}
.m4-tb-copylink:before {
  content: "\e153";
}
.m4-tb-customize:before {
  content: "\e154";
}
.m4-tb-customizefiiled:before {
  content: "\e155";
}
.m4-tb-cut:before {
  content: "\e156";
}
.m4-tb-dashboard:before {
  content: "\e157";
}
.m4-tb-databaserestore:before {
  content: "\e158";
}
.m4-tb-databaserestorefilled:before {
  content: "\e159";
}
.m4-tb-datagrid:before {
  content: "\e15a";
}
.m4-tb-datagridfilled:before {
  content: "\e15b";
}
.m4-tb-dayoff:before {
  content: "\e15c";
}
.m4-tb-dayofffilled:before {
  content: "\e15d";
}
.m4-tb-debug:before {
  content: "\e15e";
}
.m4-tb-delete:before {
  content: "\e15f";
}
.m4-tb-deletecolumn:before {
  content: "\e160";
}
.m4-tb-deletegraphreport:before {
  content: "\e161";
}
.m4-tb-deletegraphreportfilled:before {
  content: "\e162";
}
.m4-tb-deletenode:before {
  content: "\e163";
}
.m4-tb-deletenodefilled:before {
  content: "\e164";
}
.m4-tb-deletepiechartreport:before {
  content: "\e165";
}
.m4-tb-deletepiechartreportfilled:before {
  content: "\e166";
}
.m4-tb-deletesubnode:before {
  content: "\e167";
}
.m4-tb-deletesubnodefilled:before {
  content: "\e168";
}
.m4-tb-description:before {
  content: "\e169";
}
.m4-tb-descriptionfilled:before {
  content: "\e16a";
}
.m4-tb-details:before {
  content: "\e16b";
}
.m4-tb-details-1:before {
  content: "\e16c";
}
.m4-tb-detailschecked:before {
  content: "\e16d";
}
.m4-tb-detailsfilled:before {
  content: "\e16e";
}
.m4-tb-device:before {
  content: "\e16f";
}
.m4-tb-dms:before {
  content: "\e170";
}
.m4-tb-document:before {
  content: "\e171";
}
.m4-tb-documents:before {
  content: "\e172";
}
.m4-tb-documentsfilled:before {
  content: "\e173";
}
.m4-tb-domain32:before {
  content: "\e174";
}
.m4-tb-dossier:before {
  content: "\e175";
}
.m4-tb-dossierfilled:before {
  content: "\e176";
}
.m4-tb-doubledown:before {
  content: "\e177";
}
.m4-tb-doubledownfilled:before {
  content: "\e178";
}
.m4-tb-doubleleft:before {
  content: "\e179";
}
.m4-tb-doubleleftfilled:before {
  content: "\e17a";
}
.m4-tb-doubleright:before {
  content: "\e17b";
}
.m4-tb-doublerightfilled:before {
  content: "\e17c";
}
.m4-tb-doubleup:before {
  content: "\e17d";
}
.m4-tb-doubleupfilled:before {
  content: "\e17e";
}
.m4-tb-down:before {
  content: "\e17f";
}
.m4-tb-downleft:before {
  content: "\e180";
}
.m4-tb-downleftfilled:before {
  content: "\e181";
}
.m4-tb-downloadgraphreport:before {
  content: "\e182";
}
.m4-tb-downloadgraphreportfilled:before {
  content: "\e183";
}
.m4-tb-downloadpiechartreport:before {
  content: "\e184";
}
.m4-tb-downright:before {
  content: "\e185";
}
.m4-tb-downrightfilled:before {
  content: "\e186";
}
.m4-tb-dropdown:before {
  content: "\e187";
}
.m4-tb-dropdownfilled:before {
  content: "\e188";
}
.m4-tb-easyreadingoff:before {
  content: "\e189";
}
.m4-tb-easyreadingon:before {
  content: "\e18a";
}
.m4-tb-edit:before {
  content: "\e18b";
}
.m4-tb-editfilled:before {
  content: "\e18c";
}
.m4-tb-editgraphreport:before {
  content: "\e18d";
}
.m4-tb-editgraphreportfilled:before {
  content: "\e18e";
}
.m4-tb-editnode:before {
  content: "\e18f";
}
.m4-tb-editnodefilled:before {
  content: "\e190";
}
.m4-tb-editpiechartreport:before {
  content: "\e191";
}
.m4-tb-editpiechartreportfilled:before {
  content: "\e192";
}
.m4-tb-editquery:before {
  content: "\e193";
}
.m4-tb-ellipsis:before {
  content: "\e194";
}
.m4-tb-ellipsisfilled:before {
  content: "\e195";
}
.m4-tb-emptystar:before {
  content: "\e196";
}
.m4-tb-end:before {
  content: "\e197";
}
.m4-tb-end2:before {
  content: "\e198";
}
.m4-tb-enlarge:before {
  content: "\e199";
}
.m4-tb-environment:before {
  content: "\e19a";
}
.m4-tb-error:before {
  content: "\e19b";
}
.m4-tb-escape:before {
  content: "\e19c";
}
.m4-tb-event:before {
  content: "\e19d";
}
.m4-tb-eventfilled:before {
  content: "\e19e";
}
.m4-tb-exclamationmark:before {
  content: "\e19f";
}
.m4-tb-execute:before {
  content: "\e1a0";
}
.m4-tb-exit:before {
  content: "\e1a1";
}
.m4-tb-expand:before {
  content: "\e1a2";
}
.m4-tb-expandall:before {
  content: "\e1a3";
}
.m4-tb-expandarrow:before {
  content: "\e1a4";
}
.m4-tb-expandarrowfilled:before {
  content: "\e1a5";
}
.m4-tb-expandfilled:before {
  content: "\e1a6";
}
.m4-tb-export:before {
  content: "\e1a7";
}
.m4-tb-exportdocx:before {
  content: "\e1a8";
}
.m4-tb-exportpdf:before {
  content: "\e1a9";
}
.m4-tb-exportpng:before {
  content: "\e1aa";
}
.m4-tb-exportsvg:before {
  content: "\e1ab";
}
.m4-tb-exporttoexcel:before {
  content: "\e1ac";
}
.m4-tb-exporttooocalc:before {
  content: "\e1ad";
}
.m4-tb-exporttxt:before {
  content: "\e1ae";
}
.m4-tb-exportxls:before {
  content: "\e1af";
}
.m4-tb-exportxml:before {
  content: "\e1b0";
}
.m4-tb-extract:before {
  content: "\e1b1";
}
.m4-tb-eyefilled:before {
  content: "\e1b2";
}
.m4-tb-fastforward:before {
  content: "\e1b3";
}
.m4-tb-favorites:before {
  content: "\e1b4";
}
.m4-tb-favoritespin:before {
  content: "\e1b5";
}
.m4-tb-featureslist:before {
  content: "\e1b6";
}
.m4-tb-filledcircle:before {
  content: "\e1b7";
}
.m4-tb-filledcirclefilled:before {
  content: "\e1b8";
}
.m4-tb-filledstar:before {
  content: "\e1b9";
}
.m4-tb-filter:before {
  content: "\e1ba";
}
.m4-tb-filterandsort:before {
  content: "\e1bb";
}
.m4-tb-filterandsortfilled:before {
  content: "\e1bc";
}
.m4-tb-filterfilled:before {
  content: "\e1bd";
}
.m4-tb-find:before {
  content: "\e1be";
}
.m4-tb-first:before {
  content: "\e1bf";
}
.m4-tb-first2:before {
  content: "\e1c0";
}
.m4-tb-firstfilledsquare:before {
  content: "\e1c1";
}
.m4-tb-firstsquare:before {
  content: "\e1c2";
}
.m4-tb-fittopage:before {
  content: "\e1c3";
}
.m4-tb-fittopagefilled:before {
  content: "\e1c4";
}
.m4-tb-fittowidth:before {
  content: "\e1c5";
}
.m4-tb-fittowidthfilled:before {
  content: "\e1c6";
}
.m4-tb-folderfind:before {
  content: "\e1c7";
}
.m4-tb-folderopenadd:before {
  content: "\e1c8";
}
.m4-tb-forgotpassword:before {
  content: "\e1c9";
}
.m4-tb-forgotpasswordfilled:before {
  content: "\e1ca";
}
.m4-tb-ftpserver:before {
  content: "\e1cb";
}
.m4-tb-ftpserverfilled:before {
  content: "\e1cc";
}
.m4-tb-fullimageedit:before {
  content: "\e1cd";
}
.m4-tb-fullimageeditfilled:before {
  content: "\e1ce";
}
.m4-tb-fullscreen:before {
  content: "\e1cf";
}
.m4-tb-fullscreenfilled:before {
  content: "\e1d0";
}
.m4-tb-future:before {
  content: "\e1d1";
}
.m4-tb-futurefilled:before {
  content: "\e1d2";
}
.m4-tb-generatejsonmode:before {
  content: "\e1d3";
}
.m4-tb-generictext:before {
  content: "\e1d4";
}
.m4-tb-goback:before {
  content: "\e1d5";
}
.m4-tb-gobackfilled:before {
  content: "\e1d6";
}
.m4-tb-graph:before {
  content: "\e1d7";
}
.m4-tb-graphfilled:before {
  content: "\e1d8";
}
.m4-tb-graphreport:before {
  content: "\e1d9";
}
.m4-tb-graphreportfilled:before {
  content: "\e1da";
}
.m4-tb-graphreportscript:before {
  content: "\e1db";
}
.m4-tb-graphreportscriptfilled:before {
  content: "\e1dc";
}
.m4-tb-grid2:before {
  content: "\e1dd";
}
.m4-tb-grid2filled:before {
  content: "\e1de";
}
.m4-tb-grid3:before {
  content: "\e1df";
}
.m4-tb-grid3filled:before {
  content: "\e1e0";
}
.m4-tb-groupofprojects:before {
  content: "\e1e1";
}
.m4-tb-groupofprojectsfilled:before {
  content: "\e1e2";
}
.m4-tb-help:before {
  content: "\e1e3";
}
.m4-tb-helpfilled:before {
  content: "\e1e4";
}
.m4-tb-hide:before {
  content: "\e1e5";
}
.m4-tb-hotlink:before {
  content: "\e1e6";
}
.m4-tb-hotlinkalphabetic:before {
  content: "\e1e7";
}
.m4-tb-hotlinkalphabetic2:before {
  content: "\e1e8";
}
.m4-tb-hotlinkalphabetic3:before {
  content: "\e1e9";
}
.m4-tb-hotlinkcode:before {
  content: "\e1ea";
}
.m4-tb-hotlinkcode2:before {
  content: "\e1eb";
}
.m4-tb-hotlinkcode3:before {
  content: "\e1ec";
}
.m4-tb-hotlinkdown:before {
  content: "\e1ed";
}
.m4-tb-hotlinkup:before {
  content: "\e1ee";
}
.m4-tb-importantproperty:before {
  content: "\e1ef";
}
.m4-tb-importantpropertyfilled:before {
  content: "\e1f0";
}
.m4-tb-importdata:before {
  content: "\e1f1";
}
.m4-tb-importdocx:before {
  content: "\e1f2";
}
.m4-tb-importpdf:before {
  content: "\e1f3";
}
.m4-tb-importpng:before {
  content: "\e1f4";
}
.m4-tb-importsvg:before {
  content: "\e1f5";
}
.m4-tb-importtxt:before {
  content: "\e1f6";
}
.m4-tb-importxls:before {
  content: "\e1f7";
}
.m4-tb-importxml:before {
  content: "\e1f8";
}
.m4-tb-info:before {
  content: "\e1f9";
}
.m4-tb-information:before {
  content: "\e1fa";
}
.m4-tb-informationfilled:before {
  content: "\e1fb";
}
.m4-tb-ininventory:before {
  content: "\e1fc";
}
.m4-tb-ininventoryfilled:before {
  content: "\e1fd";
}
.m4-tb-inprogress:before {
  content: "\e1fe";
}
.m4-tb-inprogressfilled:before {
  content: "\e1ff";
}
.m4-tb-inscription:before {
  content: "\e200";
}
.m4-tb-inscriptionfilled:before {
  content: "\e201";
}
.m4-tb-insertcolumnleft:before {
  content: "\e202";
}
.m4-tb-insertcolumnright:before {
  content: "\e203";
}
.m4-tb-insertrow:before {
  content: "\e204";
}
.m4-tb-insertrowabove:before {
  content: "\e205";
}
.m4-tb-inserttable:before {
  content: "\e206";
}
.m4-tb-inspect:before {
  content: "\e207";
}
.m4-tb-internet:before {
  content: "\e208";
}
.m4-tb-internetfilled:before {
  content: "\e209";
}
.m4-tb-invisible:before {
  content: "\e20a";
}
.m4-tb-invisiblefilled:before {
  content: "\e20b";
}
.m4-tb-invoiceinternet2:before {
  content: "\e20c";
}
.m4-tb-justadded:before {
  content: "\e20d";
}
.m4-tb-last:before {
  content: "\e20e";
}
.m4-tb-last2:before {
  content: "\e20f";
}
.m4-tb-lastfilledsquare:before {
  content: "\e210";
}
.m4-tb-lastsquare:before {
  content: "\e211";
}
.m4-tb-leftdocking:before {
  content: "\e212";
}
.m4-tb-leftdockingfilled:before {
  content: "\e213";
}
.m4-tb-leftdown2:before {
  content: "\e214";
}
.m4-tb-leftdown2filled:before {
  content: "\e215";
}
.m4-tb-leftsquared:before {
  content: "\e216";
}
.m4-tb-legend:before {
  content: "\e217";
}
.m4-tb-linechart:before {
  content: "\e218";
}
.m4-tb-linechartfilled:before {
  content: "\e219";
}
.m4-tb-linking:before {
  content: "\e21a";
}
.m4-tb-linkingfilled:before {
  content: "\e21b";
}
.m4-tb-list:before {
  content: "\e21c";
}
.m4-tb-list2:before {
  content: "\e21d";
}
.m4-tb-listfilled:before {
  content: "\e21e";
}
.m4-tb-loading:before {
  content: "\e21f";
}
.m4-tb-loadingfilled:before {
  content: "\e220";
}
.m4-tb-location:before {
  content: "\e221";
}
.m4-tb-locationfilled:before {
  content: "\e222";
}
.m4-tb-lock:before {
  content: "\e223";
}
.m4-tb-lockfilled:before {
  content: "\e224";
}
.m4-tb-logoutroundeddown:before {
  content: "\e225";
}
.m4-tb-logoutroundeddownfilled:before {
  content: "\e226";
}
.m4-tb-longarrowdown:before {
  content: "\e227";
}
.m4-tb-longarrowdownfilled:before {
  content: "\e228";
}
.m4-tb-longarrowleft:before {
  content: "\e229";
}
.m4-tb-longarrowleftfilled:before {
  content: "\e22a";
}
.m4-tb-longarrowright:before {
  content: "\e22b";
}
.m4-tb-longarrowrightfilled:before {
  content: "\e22c";
}
.m4-tb-longarrowup:before {
  content: "\e22d";
}
.m4-tb-longarrowupfilled:before {
  content: "\e22e";
}
.m4-tb-mago4:before {
  content: "\e22f";
}
.m4-tb-mail:before {
  content: "\e230";
}
.m4-tb-mail-c:before {
  content: "\e231";
}
.m4-tb-mailservices:before {
  content: "\e232";
}
.m4-tb-maleuserfilled:before {
  content: "\e233";
}
.m4-tb-marker:before {
  content: "\e234";
}
.m4-tb-markerfilled:before {
  content: "\e235";
}
.m4-tb-master:before {
  content: "\e236";
}
.m4-tb-master-c:before {
  content: "\e237";
}
.m4-tb-mastermore:before {
  content: "\e238";
}
.m4-tb-mastermore-c:before {
  content: "\e239";
}
.m4-tb-masterold:before {
  content: "\e23a";
}
.m4-tb-menu:before {
  content: "\e23b";
}
.m4-tb-menu2:before {
  content: "\e23c";
}
.m4-tb-menu2filled:before {
  content: "\e23d";
}
.m4-tb-menufilled:before {
  content: "\e23e";
}
.m4-tb-minimize:before {
  content: "\e23f";
}
.m4-tb-minus:before {
  content: "\e240";
}
.m4-tb-minusmathfilled:before {
  content: "\e241";
}
.m4-tb-more:before {
  content: "\e242";
}
.m4-tb-morefilled:before {
  content: "\e243";
}
.m4-tb-movegrabber:before {
  content: "\e244";
}
.m4-tb-movegrabberfilled:before {
  content: "\e245";
}
.m4-tb-movenodedown:before {
  content: "\e246";
}
.m4-tb-movenodedownfilled:before {
  content: "\e247";
}
.m4-tb-movenodeup:before {
  content: "\e248";
}
.m4-tb-movenodeupfilled:before {
  content: "\e249";
}
.m4-tb-multiselect:before {
  content: "\e24a";
}
.m4-tb-new:before {
  content: "\e24b";
}
.m4-tb-newcopy:before {
  content: "\e24c";
}
.m4-tb-newcopyfilled:before {
  content: "\e24d";
}
.m4-tb-newfile:before {
  content: "\e24e";
}
.m4-tb-newfilefilled:before {
  content: "\e24f";
}
.m4-tb-next:before {
  content: "\e250";
}
.m4-tb-next2:before {
  content: "\e251";
}
.m4-tb-nextfilledsquare:before {
  content: "\e252";
}
.m4-tb-nextsquare:before {
  content: "\e253";
}
.m4-tb-normalscreen:before {
  content: "\e254";
}
.m4-tb-normalscreenfilled:before {
  content: "\e255";
}
.m4-tb-notificationfilled:before {
  content: "\e256";
}
.m4-tb-notify:before {
  content: "\e257";
}
.m4-tb-ok:before {
  content: "\e258";
}
.m4-tb-open:before {
  content: "\e259";
}
.m4-tb-openpane:before {
  content: "\e25a";
}
.m4-tb-openpanefilled:before {
  content: "\e25b";
}
.m4-tb-options:before {
  content: "\e25c";
}
.m4-tb-orderasc:before {
  content: "\e25d";
}
.m4-tb-orderdesc:before {
  content: "\e25e";
}
.m4-tb-outbound:before {
  content: "\e25f";
}
.m4-tb-partiallyshipped:before {
  content: "\e260";
}
.m4-tb-partiallyshipped-1:before {
  content: "\e261";
}
.m4-tb-password:before {
  content: "\e262";
}
.m4-tb-password-1:before {
  content: "\e263";
}
.m4-tb-passwordcheck:before {
  content: "\e264";
}
.m4-tb-passwordcheckfilled:before {
  content: "\e265";
}
.m4-tb-passwordfilled:before {
  content: "\e266";
}
.m4-tb-passwordreset:before {
  content: "\e267";
}
.m4-tb-passwordshow:before {
  content: "\e268";
}
.m4-tb-passwordwrong:before {
  content: "\e269";
}
.m4-tb-past:before {
  content: "\e26a";
}
.m4-tb-paste:before {
  content: "\e26b";
}
.m4-tb-pause:before {
  content: "\e26c";
}
.m4-tb-phone:before {
  content: "\e26d";
}
.m4-tb-picture:before {
  content: "\e26e";
}
.m4-tb-pin:before {
  content: "\e26f";
}
.m4-tb-play:before {
  content: "\e270";
}
.m4-tb-playbuttoncircled:before {
  content: "\e271";
}
.m4-tb-playbuttoncircledfilled:before {
  content: "\e272";
}
.m4-tb-playfilled:before {
  content: "\e273";
}
.m4-tb-playgraphreport:before {
  content: "\e274";
}
.m4-tb-playgraphreportfilled:before {
  content: "\e275";
}
.m4-tb-playlist:before {
  content: "\e276";
}
.m4-tb-playlistfilled:before {
  content: "\e277";
}
.m4-tb-playpropertyfilled:before {
  content: "\e278";
}
.m4-tb-plusmathfilled:before {
  content: "\e279";
}
.m4-tb-present:before {
  content: "\e27a";
}
.m4-tb-presentfilled:before {
  content: "\e27b";
}
.m4-tb-prev:before {
  content: "\e27c";
}
.m4-tb-prev2:before {
  content: "\e27d";
}
.m4-tb-print:before {
  content: "\e27e";
}
.m4-tb-printer-font:before {
  content: "\e27f";
}
.m4-tb-printfilled:before {
  content: "\e280";
}
.m4-tb-processpause:before {
  content: "\e281";
}
.m4-tb-processrun:before {
  content: "\e282";
}
.m4-tb-productdocuments:before {
  content: "\e283";
}
.m4-tb-productinfo:before {
  content: "\e284";
}
.m4-tb-propertyscriptfilled:before {
  content: "\e285";
}
.m4-tb-propertytime:before {
  content: "\e286";
}
.m4-tb-propertytimefilled:before {
  content: "\e287";
}
.m4-tb-propertywithtimer:before {
  content: "\e288";
}
.m4-tb-query:before {
  content: "\e289";
}
.m4-tb-radarreport:before {
  content: "\e28b";
}
.m4-tb-record:before {
  content: "\e28c";
}
.m4-tb-recovery:before {
  content: "\e28d";
}
.m4-tb-recovery-1:before {
  content: "\e28e";
}
.m4-tb-rectangle:before {
  content: "\e28f";
}
.m4-tb-refresh:before {
  content: "\e290";
}
.m4-tb-releaseinfo:before {
  content: "\e291";
}
.m4-tb-removecolumn:before {
  content: "\e292";
}
.m4-tb-removeproperty:before {
  content: "\e293";
}
.m4-tb-rename:before {
  content: "\e294";
}
.m4-tb-replaceallfilled:before {
  content: "\e295";
}
.m4-tb-replacefilled:before {
  content: "\e296";
}
.m4-tb-report:before {
  content: "\e297";
}
.m4-tb-resources:before {
  content: "\e298";
}
.m4-tb-resume:before {
  content: "\e299";
}
.m4-tb-retail:before {
  content: "\e29a";
}
.m4-tb-retailfilled:before {
  content: "\e29b";
}
.m4-tb-rightbutton:before {
  content: "\e29c";
}
.m4-tb-rightbuttonfilled:before {
  content: "\e29d";
}
.m4-tb-rightdown2:before {
  content: "\e29e";
}
.m4-tb-rightdown2filled:before {
  content: "\e29f";
}
.m4-tb-rightsquared:before {
  content: "\e2a0";
}
.m4-tb-rightsquaredfilled:before {
  content: "\e2a1";
}
.m4-tb-rotate:before {
  content: "\e2a2";
}
.m4-tb-rotatefilled:before {
  content: "\e2a3";
}
.m4-tb-rowresize:before {
  content: "\e2a4";
}
.m4-tb-rowview:before {
  content: "\e2a5";
}
.m4-tb-rules:before {
  content: "\e2a6";
}
.m4-tb-save:before {
  content: "\e2a7";
}
.m4-tb-save2:before {
  content: "\e2a8";
}
.m4-tb-savefilled:before {
  content: "\e2a9";
}
.m4-tb-search:before {
  content: "\e2aa";
}
.m4-tb-select:before {
  content: "\e2ab";
}
.m4-tb-sendbackward:before {
  content: "\e2ac";
}
.m4-tb-sendbackwardfilled:before {
  content: "\e2ad";
}
.m4-tb-sendtoback:before {
  content: "\e2ae";
}
.m4-tb-sendtobackfilled:before {
  content: "\e2af";
}
.m4-tb-shipped:before {
  content: "\e2b0";
}
.m4-tb-shipped-1:before {
  content: "\e2b1";
}
.m4-tb-shrink:before {
  content: "\e2b2";
}
.m4-tb-shutdown:before {
  content: "\e2b3";
}
.m4-tb-shutdownfilled:before {
  content: "\e2b4";
}
.m4-tb-sigma:before {
  content: "\e2b5";
}
.m4-tb-snapshot:before {
  content: "\e2b6";
}
.m4-tb-socialshare:before {
  content: "\e2b7";
}
.m4-tb-socialshare-1:before {
  content: "\e2b8";
}
.m4-tb-socialsharefilled:before {
  content: "\e2b9";
}
.m4-tb-sortdown:before {
  content: "\e2ba";
}
.m4-tb-sortdownfilled:before {
  content: "\e2bb";
}
.m4-tb-sortingarrowshorizontal:before {
  content: "\e2bc";
}
.m4-tb-sortingarrowshorizontalfilled:before {
  content: "\e2bd";
}
.m4-tb-sortleft:before {
  content: "\e2be";
}
.m4-tb-sortleftfilled:before {
  content: "\e2bf";
}
.m4-tb-sortright:before {
  content: "\e2c0";
}
.m4-tb-sortrightfilled:before {
  content: "\e2c1";
}
.m4-tb-sortup:before {
  content: "\e2c2";
}
.m4-tb-sortupfilled:before {
  content: "\e2c3";
}
.m4-tb-stackedorganizationalchart:before {
  content: "\e2c4";
}
.m4-tb-stackedorganizationalchartfilled:before {
  content: "\e2c5";
}
.m4-tb-start:before {
  content: "\e2c6";
}
.m4-tb-start-1:before {
  content: "\e2c7";
}
.m4-tb-startmenu:before {
  content: "\e2c8";
}
.m4-tb-startreport:before {
  content: "\e2c9";
}
.m4-tb-startreport-1:before {
  content: "\e2ca";
}
.m4-tb-stepinto:before {
  content: "\e2cb";
}
.m4-tb-stop:before {
  content: "\e2cc";
}
.m4-tb-stopextract:before {
  content: "\e2cd";
}
.m4-tb-stopproperty:before {
  content: "\e2ce";
}
.m4-tb-stopreport:before {
  content: "\e2cf";
}
.m4-tb-stopreport-1:before {
  content: "\e2d0";
}
.m4-tb-switch:before {
  content: "\e2d1";
}
.m4-tb-switchto:before {
  content: "\e2d2";
}
.m4-tb-table:before {
  content: "\e2d3";
}
.m4-tb-task:before {
  content: "\e2d4";
}
.m4-tb-taskfilled:before {
  content: "\e2d5";
}
.m4-tb-tasklist:before {
  content: "\e2d6";
}
.m4-tb-tasklistfilled:before {
  content: "\e2d7";
}
.m4-tb-tilebottom:before {
  content: "\e2d8";
}
.m4-tb-tileleft:before {
  content: "\e2d9";
}
.m4-tb-tileright:before {
  content: "\e2da";
}
.m4-tb-tiletop:before {
  content: "\e2db";
}
.m4-tb-timeline:before {
  content: "\e2dc";
}
.m4-tb-timeline-filled:before {
  content: "\e2dd";
}
.m4-tb-timer:before {
  content: "\e2de";
}
.m4-tb-timerfilled:before {
  content: "\e2df";
}
.m4-tb-top:before {
  content: "\e2e0";
}
.m4-tb-trackorder:before {
  content: "\e2e1";
}
.m4-tb-trackorder-1:before {
  content: "\e2e2";
}
.m4-tb-tree:before {
  content: "\e2e3";
}
.m4-tb-treecollapse:before {
  content: "\e2e4";
}
.m4-tb-treecollapseall:before {
  content: "\e2e5";
}
.m4-tb-treesearch:before {
  content: "\e2e6";
}
.m4-tb-uncheckedradiobutton:before {
  content: "\e2e7";
}
.m4-tb-uncheckedradiobuttonfilled:before {
  content: "\e2e8";
}
.m4-tb-undo:before {
  content: "\e2e9";
}
.m4-tb-undofilled:before {
  content: "\e2ea";
}
.m4-tb-unflag:before {
  content: "\e2eb";
}
.m4-tb-unflagfilled:before {
  content: "\e2ec";
}
.m4-tb-unpin:before {
  content: "\e2ed";
}
.m4-tb-up:before {
  content: "\e2ee";
}
.m4-tb-update:before {
  content: "\e2ef";
}
.m4-tb-updatefilled:before {
  content: "\e2f0";
}
.m4-tb-upleft:before {
  content: "\e2f1";
}
.m4-tb-upleftfilled:before {
  content: "\e2f2";
}
.m4-tb-upright:before {
  content: "\e2f3";
}
.m4-tb-uprightfilled:before {
  content: "\e2f4";
}
.m4-tb-upsquared:before {
  content: "\e2f5";
}
.m4-tb-upsquaredfilled:before {
  content: "\e2f6";
}
.m4-tb-upwardarrow:before {
  content: "\e2f7";
}
.m4-tb-upwardarrowfilled:before {
  content: "\e2f8";
}
.m4-tb-urgentproperty:before {
  content: "\e2f9";
}
.m4-tb-urgentpropertyfilled:before {
  content: "\e2fa";
}
.m4-tb-user:before {
  content: "\e2fb";
}
.m4-tb-userfilled:before {
  content: "\e2fc";
}
.m4-tb-vardb:before {
  content: "\e2fd";
}
.m4-tb-warning:before {
  content: "\e2fe";
}
.m4-tb-websitefilled:before {
  content: "\e2ff";
}
.m4-tb-worker:before {
  content: "\e300";
}
.m4-tb-xengine:before {
  content: "\e301";
}
.m4-tbs-easybuilder:before {
  content: "\e302";
}
.m4-tbs-easybuilder2:before {
  content: "\e303";
}
.m4-tbs-reportingservice:before {
  content: "\e304";
}
.m4-unlock:before {
  content: "\e305";
}
.m4-erp-barcodechecked:before {
  content: "\6f";
}
.m4-tb-circledright:before {
  content: "\e12d";
}
.m4-shopping-cart:before {
  content: "\e306";
}
.m4-tb-arrow-small-down:before {
  content: "\e307";
}
.m4-tb-arrow-small-left:before {
  content: "\e308";
}
.m4-tb-arrow-small-right:before {
  content: "\e309";
}
.m4-tb-arrow-small-up:before {
  content: "\e30a";
}
.m4-erp-assets:before {
  content: "\66";
}
.m4-erp-accounting-c:before {
  content: "\62";
}
.m4-erp-accountingmore-c:before {
  content: "\64";
}
.m4-erp-assets-c:before {
  content: "\67";
}
.m4-erp-assetsmore-c:before {
  content: "\69";
}
.m4-erp-attachments:before {
  content: "\6c";
}
.m4-erp-account-disabled:before {
  content: "\e28a";
}
.m4-erp-billofladingprocessed:before {
  content: "\e30c";
}
.m4-erp-documentdisabled:before {
  content: "\e30d";
}
.m4-erp-containerpackage:before {
  content: "\e30f";
}
.m4-erp-costcenterdisabled:before {
  content: "\e310";
}
.m4-erp-extraeu:before {
  content: "\e311";
}
.m4-erp-groupdisabled:before {
  content: "\e312";
}
.m4-erp-europe:before {
  content: "\e313";
}
.m4-erp-itemreturn:before {
  content: "\e314";
}
.m4-erp-moneycoinsarrowright:before {
  content: "\e315";
}
.m4-erp-moneycoinserror:before {
  content: "\e316";
}
.m4-erp-moneycoinsok:before {
  content: "\e317";
}
.m4-erp-moneycoinsremove2:before {
  content: "\e318";
}
.m4-erp-multipackage:before {
  content: "\e319";
}
.m4-erp-packagesave:before {
  content: "\e31a";
}
.m4-erp-pickcrossdocking:before {
  content: "\e31b";
}
.m4-erp-pickedcancelled:before {
  content: "\e31c";
}
.m4-erp-producload:before {
  content: "\e31e";
}
.m4-erp-purchaseordercompleted:before {
  content: "\e31f";
}
.m4-erp-purchaseorderpartial:before {
  content: "\e320";
}
.m4-erp-purchaseorderprocessed:before {
  content: "\e321";
}
.m4-erp-purchaseddoumentprocessed:before {
  content: "\e322";
}
.m4-erp-qualityinspectionclosed:before {
  content: "\e323";
}
.m4-erp-reference:before {
  content: "\e324";
}
.m4-erp-saleorderprocessed:before {
  content: "\e325";
}
.m4-erp-saleorderblocked:before {
  content: "\e326";
}
.m4-erp-saleorderallocated:before {
  content: "\e327";
}
.m4-erp-secondrateload:before {
  content: "\e328";
}
.m4-erp-scanbarcode-1:before {
  content: "\e329";
}
.m4-erp-saledocumentprocessed:before {
  content: "\e32a";
}
.m4-erp-supplierquotationprocessed:before {
  content: "\e32b";
}
.m4-erp-tangible-disable:before {
  content: "\e32c";
}
.m4-erp-taxablenocheckauto:before {
  content: "\e32d";
}
.m4-erp-taxablenochecknoauto:before {
  content: "\e32e";
}
.m4-erp-taxcheckauto:before {
  content: "\e32f";
}
.m4-erp-taxchecknoauto:before {
  content: "\e330";
}
.m4-erp-taxnocheckauto:before {
  content: "\e331";
}
.m4-erp-taxnochecknoauto:before {
  content: "\e332";
}
.m4-erp-toclosed:before {
  content: "\e333";
}
.m4-erp-tocreated:before {
  content: "\e334";
}
.m4-erp-todeleted:before {
  content: "\e335";
}
.m4-erp-tofailed:before {
  content: "\e336";
}
.m4-erp-toinprogress:before {
  content: "\e337";
}
.m4-erp-totalnochecknoauto:before {
  content: "\e338";
}
.m4-erp-totalnocheckauto:before {
  content: "\e339";
}
.m4-erp-totalchecknoauto:before {
  content: "\e33a";
}
.m4-erp-toreadytobesync:before {
  content: "\e33b";
}
.m4-erp-tooltorenew:before {
  content: "\e33c";
}
.m4-erp-toolerror:before {
  content: "\e33d";
}
.m4-erp-totransferred:before {
  content: "\e33e";
}
.m4-erp-trconfirmed:before {
  content: "\e33f";
}
.m4-erp-trcreated:before {
  content: "\e340";
}
.m4-erp-trprocessing:before {
  content: "\e341";
}
.m4-erp-trreleased:before {
  content: "\e342";
}
.m4-tb-columns:before {
  content: "\e343";
}
.m4-tb-radar:before {
  content: "\e344";
}
.m4-erp-accountingdoc:before {
  content: "\2f";
}
.m4-erp-purchaseorderlink:before {
  content: "\3c";
}
.m4-sd-ui-customizer:before {
  content: "\e14a";
}
.m4-sd-menu-designer:before {
  content: "\e346";
}
.m4-sd-enums-designer:before {
  content: "\e347";
}
.m4-sd-datamodel:before {
  content: "\e348";
}
.m4-sd-database-extender:before {
  content: "\e349";
}
.m4-tb-checkbox-check:before {
  content: "\e34b";
}
.m4-tb-checked-uncheck:before {
  content: "\e34c";
}
